  - name: maven setup
    include_role:
     name: common
     tasks_from: maven_setup

  - name: install PyMySQL and cryptography 
    ansible.builtin.pip:
     name: "{{ item }}"
     executable: pip3.9
    loop:
    - cryptography
    - PyMySQL

  - name: app setup
    include_role:
     name: common
     tasks_from: app_setup

 
  - name: rename the target folder
    ansible.builtin.command: mv target/shipping-1.0.jar shipping.jar 
    args:
     chdir: /app

  - name: systemd setup
    include_role:
     name: common
     tasks_from: systemd_setup

  

  - name: install mysql client
    ansible.builtin.dnf:
     name: mysql
     state: present

  - name: load the mysql data
    community.mysql.mysql_db:
     name: all
     login_user: root
     login_password: RoboShop@1
     state: import
     login_host: mysql.srinunayak.online
     target: "{{ item }}"
    loop:
     - /app/db/schema.sql
     - /app/db/app-user.sql 
     - /app/db/master-data.sql

  - name: restart the shipping
    ansible.builtin.service:
     name: shipping
     state: restarted